<section class="content">
    <div class="box box-solid">
        <div class="box-body">
            <div class="box box-info">
                <div class="box-header with-border">
                    <form class="form-horizontal">
                        <div class="box-body">
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label" style="text-align: left">Organisation</label>

                                <div class="col-sm-10">
                                    <select class="form-control select2 input-sm" id="id_n_service_id222" name="id_n_service_id222" [(ngModel)]="orgSelectedValue"
                                        (ngModelChange)="orgValueChange($event)">
                                        <option *ngFor="let x of userOrganisation" [value]="x.id">{{x.name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <form class="form-horizontal">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-1 control-label" style="text-align: left">Name</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control input-sm" id="email" name="email" [(ngModel)]="selectedBranch.name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-1 control-label" style="text-align: left">Adress</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control input-sm" id="pwd2" name="pwd2" [(ngModel)]="selectedBranch.address">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-1 control-label" style="text-align: left">Mail</label>
                            <div class="col-sm-4">
                                <input type="email" class="form-control input-sm" id="pwd3" name="pwd3" [(ngModel)]="selectedBranch.mail">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-1 control-label" style="text-align: left">Phone</label>
                            <div class="col-sm-4">
                                <input type="tel" class="form-control input-sm" id="pwd4" name="pwd4" [(ngModel)]="selectedBranch.phone">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-1 control-label" style="text-align: left">Description</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control input-sm" id="pwd1" name="pwd1" [(ngModel)]="selectedBranch.description">
                            </div>
                        </div>
                        <div class="box-footer">
                            <div class="col-sm-2">
                                <button type="submit" class="btn btn-primary btn-xs" (click)="saveBranch()">{{btnText}}</button>
                            </div>
                            <div class="col-sm-3">
                                <button type="submit" class="btn btn-warning pull-right btn-xs" (click)="resetBranch()">Reset</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">List Of branch</h3>
                </div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Address</th>
                            <th>Mail</th>
                            <th>Phone</th>
                            <th>Command</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let it of items; let i = index">
                            <th scope="row">{{it.id}}</th>
                            <td>{{it.name}}</td>
                            <td>{{it.description}}</td>
                            <td>{{it.address}}</td>
                            <td>{{it.mail}}</td>
                            <td>{{it.phone}}</td>
                            <td>
                                <div class="col-sm-3">
                                    <button type="button" class="btn btn-block btn-success btn-xs" (click)="editBranch(it)">Edit</button>
                                </div>
                                <div class="col-sm-3">
                                    <button type="button" class="btn btn-block btn-danger btn-xs" (click)="deleteBranch(it)">Delete</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>