<section class="register">
    <div class="card">
        <div class="card-header">
            <kendo-dropdownlist [data]="userBranch" [textField]="'name'" [valueField]="'id'" [value]="brSelectedValue" [valuePrimitive]="true"
                (valueChange)="brValueChange($event)">
            </kendo-dropdownlist>
        </div>
        <div class="card-block">
            <table class="table table-sm table-bordered table-striped">
                <tbody>
                    <tr>
                        <th>Category</th>
                        <td>
                            <select class="form-control form-control-sm" id="id_n_service_id222" placeholder="Service" [(ngModel)]="selectedRoom.category_id">
                                <option *ngFor="let x of room_category" [value]="x.id">{{x.name}}</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>Room No</th>
                        <td>
                            <input type="text" class="form-control form-control-sm" id="pwd1" [(ngModel)]="selectedRoom.room_no">
                        </td>
                    </tr>
                    <tr>
                        <th>Price</th>
                        <td>
                            <input type="number" min="0" class="form-control form-control-sm" id="pwd2" [(ngModel)]="selectedRoom.price">
                        </td>
                    </tr>
                    <tr>
                        <th>Extra Person</th>
                        <td>
                            <input type="number" min="0" class="form-control form-control-sm" id="pwd5" [(ngModel)]="selectedRoom.extra_person">
                        </td>
                    </tr>
                    <tr>
                        <th>Additional Bad Price</th>
                        <td>
                            <input type="number" min="0" class="form-control form-control-sm" id="pwd4" [(ngModel)]="selectedRoom.additional_bad_price">
                        </td>
                    </tr>
                    <tr>
                        <th>Additional Bad</th>
                        <td>
                            <input type="number" min="0" class="form-control form-control-sm" id="pwd3" [(ngModel)]="selectedRoom.additional_bad">
                        </td>
                    </tr>
                    <tr>
                        <th>Extra Person Price</th>
                        <td>
                            <input type="number" min="0" class="form-control form-control-sm" id="pwd6" [(ngModel)]="selectedRoom.extra_person_price">
                        </td>
                    </tr>
                    <tr>
                        <th>Tags</th>
                        <td>
                            <input type="text" class="form-control form-control-sm" id="pwd" [(ngModel)]="selectedRoom.tag">
                        </td>
                    </tr>
                    <tr>
                        <th>Wifi</th>
                        <td>
                            <select class="form-control form-control-sm" id="exampleSelect1111" placeholder="Title" [(ngModel)]="selectedRoom.wifi">
                                <option>YES</option>
                                <option>NO</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>Smoke</th>
                        <td>
                            <select class="form-control form-control-sm" id="exampleSelect1112" placeholder="Title" [(ngModel)]="selectedRoom.smoke">
                                <option>YES</option>
                                <option>NO</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>
                            <input type="text" class="form-control form-control-sm" id="pwd" [(ngModel)]="selectedRoom.description">
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <a class="btn btn-block btn-primary btn-xs" (click)="saveRoom()">{{btnText}}</a>
                        </th>
                        <th>
                            <a class="btn btn-block btn-warning btn-xs" (click)="resetRoom()">Reset</a>
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="card">
            <div class="card-header">
                List Of Rooms
            </div>
            <div class="card-block">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Category</th>
                            <th>Room No</th>
                            <th>Price</th>
                            <th>Additional Bad</th>
                            <th>Additional Bad Price</th>
                            <th>Extra Person</th>
                            <th>Extra Person Price</th>
                            <th>Smoke</th>
                            <th>WiFi</th>
                            <th>Tags</th>
                            <th>Description</th>
                            <th>Command</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let it of items; let i = index">
                            <td>{{it.category_name}}</td>
                            <td>{{it.room_no}}</td>
                            <td>{{it.price}}</td>
                            <td>{{it.additional_bad}}</td>
                            <td>{{it.additional_bad_price}}</td>
                            <td>{{it.extra_person}}</td>
                            <td>{{it.extra_person_price}}</td>
                            <td>{{it.smoke}}</td>
                            <td>{{it.wifi}}</td>
                            <td>{{it.tag}}</td>
                            <td>{{it.description}}</td>
                            <td>
                                <a class="btn btn-block btn-success btn-xs" (click)="editRoom(it)">Edit</a>
                            </td>
                            <td>
                                <a class="btn btn-block btn-danger btn-xs" (click)="deleteRoom(it)">Delete</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>