<section class="content">
    <div class="box box-solid">
        <div class="box-body">
            <div class="box box-info">
                <div class="box-header with-border">
                    <div class="box-body">
                        <div class="col-sm-2">
                            <select class="form-control select2 input-sm" id="id_n_service_id2221" name="id_n_service_id2221" [(ngModel)]="brSelectedValue"
                                (ngModelChange)="brValueChange($event)" style="width:70%">
                                <option *ngFor="let x of userBranch" [value]="x.id">{{x.name}}</option>
                            </select>
                        </div>
                        <div class="col-sm-2">
                            <kendo-datepicker [(value)]="dateFrom" id="dateFrom" name="ndateFrom"></kendo-datepicker>
                        </div>
                        <div class="col-sm-2">
                            <kendo-datepicker [(value)]="dateTo" id="dateTo" name="ndateTo"></kendo-datepicker>
                        </div>
                        <div class="col-sm-2">
                            <button type="button" class="btn btn-block btn-primary btn-xs" (click)="filterRezervation()">Filter</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box box-primary">
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Month</th>
                                <th>Category</th>
                                <th>Room</th>
                                <th>Action</th>
                                <th>Count</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let sale of data; let i = index">
                                <td>{{i}}</td>
                                <td>{{sale.month}}</td>
                                <td>{{sale.category}}</td>
                                <td>{{sale.room}}</td>
                                <td>{{sale.action}}</td>
                                <td>{{sale.count}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>