:host {
    /deep/ {
        * {
           // box-sizing: border-box;
        }
        button,
        input,
        optgroup,
        select,
        textarea {
            color: inherit;
            font: inherit;
            margin: 0;
        }
        table {
            line-height: 1.5em;
            border-collapse: collapse;
            border-spacing: 0;
            display: table;
            width: 100%;
            max-width: 100%;
            overflow: auto;
            word-break: normal;
            word-break: keep-all;
            tr {
                td{
                    font-weight: 400 !important;
                    font-size: 12px !important;
                    margin: 0;
                    padding: 0.5em 1em;
                    @media only screen and (min-width: 320px) and (max-width: 768px) {
                        font-size: 10px !important;
                    }
                }
                th {
                    font-weight: 800 !important;
                    font-size: 12px !important;
                    margin: 0;
                    padding: 0.5em 1em;
                    @media only screen and (min-width: 320px) and (max-width: 768px) {
                        font-size: 10px !important;
                    }
                }
            }
        }
    }
}