<app-parking-header></app-parking-header>
<aside class="main-sidebar">
    <section class="sidebar" *ngIf="roleID === 'ADMIN' || roleID === 'RESIDENT'">
        <div class="user-panel">
            <div class="pull-left image">
                <img src="./assets/admintemplate/user2-160x160.jpg" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>{{roleID}}</p>
                <a routerLink="/profile">
                    <i class="fa fa-circle text-success"></i>{{user_name}}</a>
            </div>
        </div>
        <form class="sidebar-form">

            <select class="form-control select2 input-sm" id="id_n_service_id222" name="id_n_service_id222" [(ngModel)]="brSelectedValue"
                (ngModelChange)="brValueChange($event)">
                <option *ngFor="let x of userBranch" [value]="x.id">{{x.name}}</option>
            </select>
        </form>

        <ul *ngIf="roleID === 'ADMIN'" class="sidebar-menu" data-widget="tree">
            <li routerLink="/reservation">
                <a>
                    <i class="fa fa-table"></i>
                    <span>Reservation</span>
                </a>
            </li>
            <li routerLink="/dashboard">
                <a>
                    <i class="fa fa-dashboard"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li routerLink="/branch">
                <a>
                    <i class="fa fa-users"></i>
                    <span>Branch</span>
                </a>
            </li>
            <li routerLink="/category">
                <a>
                    <i class="fa fa-th"></i>
                    <span>Category</span>
                </a>
            </li>
            <li routerLink="/roomService">
                <a>
                    <i class="fa fa-laptop"></i>
                    <span>Service</span>
                </a>
            </li>
            <li routerLink="/createRoom">
                <a>
                    <i class="fa fa-calendar"></i>
                    <span>Room</span>
                </a>
            </li>

            <li class="treeview">
                <a href="/reports">
                    <i class="fa fa-book"></i>
                    <span>Reports</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu" style="display: none;">
                    <li routerLink="/reports">
                        <a>
                            <i class="fa fa-fw fa-paypal"></i>
                            <span>Payments</span>
                        </a>
                    </li>
                    <li routerLink="/sales">
                        <a>
                            <i class="fa fa-fw fa-bars"></i>
                            <span>Sales</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li routerLink="/persons">
                <a>
                    <i class="fa fa-user-plus"></i>
                    <span>Person</span>
                </a>
            </li>
            <li routerLink="/usermanagment">
                <a>
                    <i class="fa fa-user-plus"></i>
                    <span>User Managment</span>
                </a>
            </li>
        </ul>
        <ul *ngIf="roleID === 'RESIDENT'" class="sidebar-menu" data-widget="tree">
            <li routerLink="/reservation">
                <a>
                    <i class="fa fa-table"></i>
                    <span>Reservation</span>
                </a>
            </li>
            <li routerLink="/dashboard">
                <a>
                    <i class="fa fa-dashboard"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li routerLink="/category">
                <a>
                    <i class="fa fa-th"></i>
                    <span>Category</span>
                </a>
            </li>
            <li routerLink="/roomService">
                <a>
                    <i class="fa fa-laptop"></i>
                    <span>Service</span>
                </a>
            </li>
            <li routerLink="/createRoom">
                <a>
                    <i class="fa fa-calendar"></i>
                    <span>Room</span>
                </a>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-book"></i>
                    <span>Reports</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu" style="display: none;">
                    <li routerLink="/reports">
                        <a>
                            <i class="fa fa-fw fa-paypal"></i>
                            <span>Payments</span>
                        </a>
                    </li>
                    <li routerLink="/sales">
                        <a>
                            <i class="fa fa-fw fa-bars"></i>
                            <span>Sales</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </section>
</aside>
<div class="content-wrapper" [ngClass]="{'try': roleID === 'anonymous'}">
    <section class="content container-fluid">
        <router-outlet></router-outlet>
    </section>
</div>
<app-parking-footer></app-parking-footer>