<app-parking-header (onToggle)="onToggle($event)"></app-parking-header>
<section class="hero row">
    <section class="col-lg-2 col-md-2 col-sm-12 col-xs-12 navigation noPadding" *ngIf="roleID === 'ADMIN' || roleID === 'RESIDENT'"
        [ngClass]="{'activeMenu' : toggleState}">

        <div>
            <div class="navigation__profile text-center" *ngIf="roleID === 'ADMIN' || roleID === 'RESIDENT'">
                <i class="fa fa-user navigation__profile--circle" [ngClass]="{'adminImage': roleID === 'ADMIN'|| roleID === 'RESIDENT'}"></i>
                <a routerLink="/profile" routerLinkActive="nav-active-link-admin"><h2>{{roleID}}</h2></a>
            </div>
            <ul *ngIf="roleID === 'ADMIN'" class="row sidenav list-group">

                <li (click)="onToggle()" routerLink="/reservation" routerLinkActive="nav-active-link-admin">
                    <a><i class="fa fa-home" aria-hidden="true"></i>Reservation</a>
                </li>
                <li (click)="onToggle()" routerLink="/branch" routerLinkActive="nav-active-link-admin">
                    <a><i class="fa fa-users" aria-hidden="true"></i>Branch</a>
                </li>
                <li (click)="onToggle()" routerLink="/category" routerLinkActive="nav-active-link-admin">
                    <a><i class="fa fa-user-plus" aria-hidden="true"></i>Category</a>
                </li>
                <li (click)="onToggle()" routerLink="/roomService" routerLinkActive="nav-active-link-admin">
                    <a><i class="fa fa-user-plus" aria-hidden="true"></i>Service</a>
                </li>
                <li (click)="onToggle()" routerLink="/createRoom" routerLinkActive="nav-active-link-admin">
                    <a><i class="fa fa-user-plus" aria-hidden="true"></i>Room</a>
                </li>
                <li routerLink="/reports" routerLinkActive="nav-active-link-admin">
                    <a><i class="fa fa-bell-o" aria-hidden="true"></i>Reports</a>
                </li>

                <li (click)="onToggle()" routerLink="/persons" routerLinkActive="nav-active-link-admin">
                    <a><i class="fa fa-user-plus" aria-hidden="true"></i>Person</a>
                </li>
                <li (click)="onToggle()" routerLink="/usermanagment" routerLinkActive="nav-active-link-admin">
                    <a><i class="fa fa-user-plus" aria-hidden="true"></i>User Managment</a>
                </li>
            </ul>

            <ul *ngIf="roleID === 'RESIDENT'" class="row sidenav list-group">

                <li (click)="onToggle()" routerLink="/reservation" routerLinkActive="nav-active-link-admin">
                    <a><i class="fa fa-home" aria-hidden="true"></i>Reservation</a>
                </li>
                <li (click)="onToggle()" routerLink="/branch" routerLinkActive="nav-active-link-admin">
                    <a><i class="fa fa-users" aria-hidden="true"></i>Branch</a>
                </li>
                <li (click)="onToggle()" routerLink="/category" routerLinkActive="nav-active-link-admin">
                    <a><i class="fa fa-user-plus" aria-hidden="true"></i>Category</a>
                </li>
                <li (click)="onToggle()" routerLink="/roomService" routerLinkActive="nav-active-link-admin">
                    <a><i class="fa fa-user-plus" aria-hidden="true"></i>Service</a>
                </li>
                <li (click)="onToggle()" routerLink="/createRoom" routerLinkActive="nav-active-link-admin">
                    <a><i class="fa fa-user-plus" aria-hidden="true"></i>Room</a>
                </li>
                <li routerLink="/reports" routerLinkActive="nav-active-link-admin">
                    <a><i class="fa fa-bell-o" aria-hidden="true"></i>Reports</a>
                </li>

                <li (click)="onToggle()" routerLink="/persons" routerLinkActive="nav-active-link-admin">
                    <a><i class="fa fa-user-plus" aria-hidden="true"></i>Person</a>
                </li>

            </ul>
        </div>
    </section>
    <section class="col-lg-10 col-md-10 col-sm-12 col-xs-12" [ngClass]="{'try': roleID === 'anonymous'}">
        <router-outlet></router-outlet>
    </section>

</section>
<app-parking-footer></app-parking-footer>