@import '../../assets/css/_attribute.scss';




.modal-header .commonHeading {
    padding: 0rem 0rem;
    font-family: 'Montserrat', sans-serif;
}

.button_filter {
    height: 35px;
    font-size: 10px;
    font-weight: 500;
    text-transform: uppercase;
    background-color: #fff;
    color: #35495e;
    outline: none;
    border: 1px solid #dcdcdc;
    border-radius: 15px;
    width: 100px;
    cursor: pointer;
    &:hover {
        background-color: $primaryColor;
        color: #fff;
        border: none;
    }
}
.reservation_filter{
    overflow:auto;
}

.timeline-container {
    overflow:auto;
    overflow-y: hidden; 
}
.k-calendar {
    margin: 0 auto;
}
.RESERVED{
    background-color:aqua;
}
.CHECK_IN{
    background-color: #eb7475;
}
.box-header{
    background-color:aliceblue;
    padding-top: 7px;
}
.add_reservation_btn{
    float: right;
}
.time_table_class {
            line-height: 1.5em;
            border-collapse: collapse;
            border-spacing: 0;
            display: table;
            width: 100%;
            max-width: 100%;
            overflow: auto;
            word-break: normal;
            word-break: keep-all;  
            tr {
                th {
                    font-weight: 300 !important;
                    font-size: 12px !important;
                    
                }
                td,
                th {
                    font-weight: 600 !important;
                    font-size: 10px !important;
                    margin: 0;
                    padding: 0.5em 1em;
                    @media only screen and (min-width: 320px) and (max-width: 768px) {
                        font-size: 10px !important;
                    }
                }
            }
            th, td {
                border: 1px solid #ddd;
            }
}
.person_table_class {
    line-height: 1.5em;
    border-collapse: collapse;
    border-spacing: 0;
    display: table;
    width: 100%;
    max-width: 100%;
    overflow: auto;
    word-break: normal;
    word-break: keep-all;  
    tr {
        th {
            font-weight: 300 !important;
            font-size: 12px !important;
            
        }
        td,
        th {
            font-weight: 600 !important;
            font-size: 10px !important;
            margin: 0;
            padding: 0.5em 1em;
            @media only screen and (min-width: 320px) and (max-width: 768px) {
                font-size: 10px !important;
            }
        }
    }
    th, td {
        border: 1px solid #ddd;
    }
}
.service_table_class {
    line-height: 1.5em;
    border-collapse: collapse;
    border-spacing: 0;
    display: table;
    width: 100%;
    max-width: 100%;
    overflow: auto;
    word-break: normal;
    word-break: keep-all;  
    tr {
        th {
            font-weight: 300 !important;
            font-size: 12px !important;
            
        }
        td,
        th {
            font-weight: 600 !important;
            font-size: 10px !important;
            margin: 0;
            padding: 0.5em 1em;
            @media only screen and (min-width: 320px) and (max-width: 768px) {
                font-size: 10px !important;
            }
        }
    }
    th, td {
        border: 1px solid #ddd;
    }
}

.reservation_table {
    border-collapse: collapse;
    border-spacing: 0;
    display: table;
    width: 100%;
    max-width: 100%;
    overflow: auto;
    word-break: normal;
    word-break: keep-all;  
    tr {
        th {
            font-weight: 600 !important;
            font-size: 14px !important;
            padding: 0.1em 2.3em;
            @media only screen and (min-width: 320px) and (max-width: 768px) {
                font-size: 10px !important;
            }
        }
        td{
            font-weight: 400 !important;
            font-size: 12px !important;
            margin: 0;
            padding: 0.1em 0.5em;
            @media only screen and (min-width: 320px) and (max-width: 768px) {
                font-size: 10px !important;
            }
        }
    }
}

.reservation-container {
    overflow:auto;
    overflow-y: hidden;
}
.person_registration_table{
    background-color: #00ffff;
    width: 100%;
}
.person_div_tr{
    background-color: #00ffcc;
    width: 100%;
}
.person_div{
    background-color: #00ff99;
    width: 100%;
}
.service_div{
    background-color: #00cc99;
    width: 100%;
}
.add_service_person_btn{
    float: right;
}