@import '../../assets/css/_attribute.scss';

.timeline-container {
    overflow:auto;
    overflow-y: hidden; 
}
.k-calendar {
    margin: 0 auto;
}
.RESERVED{
    background-color:#00a65a !important;
    display: inline-block;
    min-width: 100%;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 10px;
}
.CHECK_IN{
    background-color: #f39c12 !important;
    display: inline-block;
    min-width: 100%;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 10px;
}
.CHECKED_OUT{
    background-color: #3c8dbc !important;
    display: inline-block;
    min-width: 100%;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 10px;
}
.FREE{
    background-color: white;
}
.time_table_class {
            line-height: 1.5em;
            border-collapse: collapse;
            border-spacing: 0;
            display: table;
            width: 100%;
            max-width: 100%;
            overflow: auto;
            word-break: normal;
            word-break: keep-all;  
            tr {
                th {
                    font-weight: 300 !important;
                    font-size: 12px !important;
                }
                td,
                th {
                    font-weight: 600 !important;
                    font-size: 10px !important;
                    margin: 0;
                    padding: 0.1em 0.1em;
                    
                    @media only screen and (min-width: 320px) and (max-width: 768px) {
                        font-size: 10px !important;
                    }
                }
            }
            th, td {
                border: 1px solid #ddd;
            }
}
.reservation_category{
    background-color: #B4B7BE;
}
.reservation_room_no{
    background-color: #7E91BE;
}
.reservation_table {
    border-collapse: collapse;
    border-spacing: 0;
    display: table;
    width: 100%;
    max-width: 100%;
    overflow: auto;
    word-break: normal;
    word-break: keep-all;  
    tr {
        th {
            font-weight: 1000 !important;
            font-size: 9px !important;
            padding: 0.1em 1.0em;
            @media only screen and (min-width: 320px) and (max-width: 768px) {
                font-size: 9px !important;
            }
        }
        td{
            font-weight: 600 !important;
            font-size: 8px !important;
            margin: 0;
            padding: 0.1em 0.5em;
            @media only screen and (min-width: 320px) and (max-width: 768px) {
                font-size: 8px !important;
            }
        }
    }
}
.k-form-inline{
    padding: 0px;
}
.reservation-container {
    overflow:auto;
    overflow-y: hidden;
}
 
.person_div_tr{
    background-color: #DFE3EE;
    width: 100%;
}
.reservation_info_detail_div{
    border: 2px solid #3b5998;
    border-radius: 15px 15px 5px 5px;
    margin-bottom: 5px;
    width: 100%;
}
.reservation_payment_div{
    background-color: #e6e6ff;
    width: 100%;
}  
 
.card-block{
    padding: 0pc;
}
.list-group-item{
   padding: 0pc; 
}
.col-3{
    padding: 0.1pc; 
}
.col-2{
    padding: 0.1pc; 
}
.col-1{
    padding: 0.1pc; 
}
.even {
    background-color: #d4e157; 
}
.odd  {
    background-color: #9e9d24; 
}  
.top_row {
    display: table;
    width: 100%;
}

.top_row > div {
    display: table-cell;
    width: 5%;
    padding-right: 8px;
}