<section class="content">
  <div class="box box-solid">
    <div class="box-body">
      <div class="box box-info">
        <div class="box-header with-border">
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box bg-yellow">
            <span class="info-box-icon">
              <i class="fa fa-calendar"></i>
            </span>
            <div class="info-box-content">
              <span class="info-box-text">Reservation</span>
              <span class="info-box-number">12</span>
              <div class="progress">
                <div class="progress-bar" style="width: 70%"></div>
              </div>
              <span class="progress-description">
                70% Increase in 30 Days
              </span>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box bg-aqua">
            <span class="info-box-icon">
              <i class="fa fa-bookmark-o"></i>
            </span>
            <div class="info-box-content">
              <span class="info-box-text">Check In</span>
              <span class="info-box-number">41</span>
              <div class="progress">
                <div class="progress-bar" style="width: 70%"></div>
              </div>
              <span class="progress-description">
                70% Increase in 30 Days
              </span>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box bg-green">
            <span class="info-box-icon">
              <i class="fa fa-thumbs-o-up"></i>
            </span>
            <div class="info-box-content">
              <span class="info-box-text">Check Out</span>
              <span class="info-box-number">41,410</span>
              <div class="progress">
                <div class="progress-bar" style="width: 70%"></div>
              </div>
              <span class="progress-description">
                70% Increase in 30 Days
              </span>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box bg-red">
            <span class="info-box-icon">
              <i class="fa fa-comments-o"></i>
            </span>
            <div class="info-box-content">
              <span class="info-box-text">Payment</span>
              <span class="info-box-number">41</span>
              <div class="progress">
                <div class="progress-bar" style="width: 70%"></div>
              </div>
              <span class="progress-description">
                70% Increase in 30 Days
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend"
          [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
      </div>
    </div>
  </div>
</section>